.home-background {
    background-color: #F1EDEB;
    background-size: cover;
    background-position: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .card-style {
    margin-top: 80px;
    width: '18rem';
    margin-right: 30px;
    background-color: rgba(189, 227, 255, 0.8);
  }

  .fixed-image {
    position: absolute;
    top: 200px; /* Adjust the top position as needed */
    left: -100px; /* Adjust the left position as needed */
    z-index: 0; /* Set a high z-index to ensure it's above other elements */
  }

  .fixed-image-speech {
    position: absolute;
    top: 170px; /* Adjust the top position as needed */
    left: 300px; /* Adjust the left position as needed */
    z-index: 0; /* Set a high z-index to ensure it's above other elements */
  }
  .background-content{
    z-index: 1; 
  }

  .text-overlay {
    position: absolute;
    top: 40%;
    left: 55%;
    transform: translate(-50%, -50%);
    color: black; /* Text color */
    font-size: 16px; /* Adjust font size as needed */
    font-weight: bold; /* Adjust font weight as needed */
    font-family: "Montserrat", sans-serif;
}

.speech-button {
  position: absolute;
  bottom: 35%; /* Adjust the distance from the bottom */
  left: 55%; /* Center the button horizontally */
  transform: translateX(-50%); /* Center the button horizontally */
  padding: 1px 6px; /* Adjust padding as needed */
  font-size: 14px; /* Adjust font size as needed */
  background-color: lightblue; /* Button background color */
  border: none; /* Remove button border */
  border-radius: 5px; /* Add border radius for rounded corners */
  cursor: pointer; /* Show pointer cursor on hover */
}

.fixed-image-pills {
  position: absolute;
  top: 130px; /* Adjust the top position as needed */
  right: 0px; /* Adjust the left position as needed */
  z-index: 0; /* Set a high z-index to ensure it's above other elements */
}